flash[:notice] = "Welcome! You have signed up successfully."
<header>
  <span>Bookers</span>

</header>

<%= render 'books/list',user: @user %>
<% @users.each do |user| %>
 <span>
    <%= link_to "edit",edit_user_path(current_user.id) %>
  </span>
  <span>
    <%= link_to "show",user_path(user.id) %>
  </span>
<% end %>

<%= render 'list2',book: @book  %>
<h2>Books</h2>

<table class ="table">
  <tbody>
    <tr></tr>
    <tr>
      <th>Title</th>
      <th>Opinion</th>
    <thcolspan="3"></th>
    </tr>
    <th></th>
  </tbody>
  </table>